
Computer Vision using Deep Learning 2.0/.ipynb_checkpoints/*
Computer Vision/Gender Classification/.ipynb_checkpoints/*
Computer Vision/.ipynb_checkpoints/Introduction to NeuralNetworks-checkpoint.ipynb
Computer Vision/.DS_Store
Computer Vision/.ipynb_checkpoints/Neural Network from scratch-checkpoint.ipynb
Computer Vision/Emergency Vehicle Classification/.ipynb_checkpoints/Exploring the Data-checkpoint.ipynb
Computer Vision/Emergency Vehicle Classification/.ipynb_checkpoints/Load Data Template-checkpoint.ipynb
Computer Vision/.ipynb_checkpoints/Transfer Learning-checkpoint.ipynb
NLP/archive/*
.ipynb_checkpoints/MNSIT torch-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
torch/*
Computer Vision/.DS_Store
Computer Vision/.ipynb_checkpoints/Facial Key Pointe Detection-checkpoint.ipynb
NLP/.DS_Store
Computer Vision/.DS_Store
Computer Vision/.DS_Store
Kuzushiji Recognition/.ipynb_checkpoints/Kuzushiji Workbook Image with Bounding Boxes-checkpoint.ipynb
Kuzushiji Recognition/.ipynb_checkpoints/Kuzushiji Workbook Image with Bounding Boxes-checkpoint.ipynb
Kuzushiji Recognition/.ipynb_checkpoints/Process Train.csv-checkpoint.ipynb
Kuzushiji Recognition/.ipynb_checkpoints/View the Labels for All-checkpoint.ipynb
Kuzushiji Recognition/.ipynb_checkpoints/Kuzushiji Workbook Image with Bounding Boxes-checkpoint.ipynb
